In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

## Notebook 2: Economics Data

We have scraped all movies with their internal features from 1930-2019, we want to investigate the world economics at the correspoing period. In this notebool, we fetched 19 economics index from Bloomberg, cleaned and merged them to `imdb movies.csv`

### 1. Econ index

- 8 Econ Index: 
    - China GDP 
    - China expenditure
    - US CPI
    - gini coef
    - S Real GDP
    - US nominal GDP
    - World GDP
    - World CPI

In [2]:
def clean_df(df):
    header=df.iloc[7]
    df=df[10:]
    df=df.rename(columns = header)
    df=df.rename(columns={df.columns[0]:'DATE'})
    df['DATE']=pd.to_datetime(df['DATE'])
    df=df.set_index('DATE')
    return df

def clean_quarter_df(df):
    header=df.iloc[7]
    df=df[10:]
    df=df.rename(columns = header)
    df=df.rename(columns={df.columns[0]:'DATE'})
    df['DATE']=pd.to_datetime(df['DATE'].str.split(' ').apply(lambda x:''.join(x[::-1])))

    df=df.set_index('DATE')
    return df

def rename_to_df(prev,df):
    column_len=len(df.columns)
    for i in range( column_len):
        current_name=df.columns[i]
        new_name=prev+current_name
        df=df.rename(columns={df.columns[i]:new_name})
    return df

In [3]:
# China GDP 
import pandas as pd
df_cGDP=pd.read_csv("Econ_data/china GDP.csv")

In [4]:
# China GDP 
import pandas as pd
df_cGDP=pd.read_csv('Econ_data/china GDP.csv')
df_cGDP=clean_quarter_df(df_cGDP)
df_cGDP=df_cGDP.loc[:,:'Real GDP']
df_cGDP=rename_to_df('China: ',df_cGDP)
# China expenditure
import pandas as pd
df_c_personal_exp=pd.read_csv('Econ_data/china personal expenditure.csv')
df_c_personal_exp=clean_df(df_c_personal_exp)
df_c_personal_exp=rename_to_df('China Personal Expense: ',df_c_personal_exp)
# US CPI
import pandas as pd
df_CPI=pd.read_csv('Econ_data/CPI 1970.csv')
df_CPI=clean_df(df_CPI)
df_CPI=rename_to_df('US CPI: ',df_CPI)
#gini coef
import pandas as pd
df_gini=pd.read_csv('Econ_data/gini coefficient.csv')
df_gini=clean_df(df_gini)
df_gini=rename_to_df('Gini: ',df_gini)
#US Real GDP
import pandas as pd
df_R_GDP=pd.read_csv('Econ_data/US real GDP.csv')
df_R_GDP=clean_quarter_df(df_R_GDP)
df_R_GDP=rename_to_df('US Real GDP: ',df_R_GDP)
#US nominal GDP
import pandas as pd
df_N_GDP=pd.read_csv('Econ_data/US nominal GDP.csv')
df_N_GDP=clean_quarter_df(df_N_GDP)
df_N_GDP=rename_to_df('US Nominal GDP: ',df_N_GDP)
#World GDP
import pandas as pd
df_W_GDP=pd.read_csv('Econ_data/world GDP 2000-2019.csv')
df_W_GDP=clean_quarter_df(df_W_GDP)

df_W_GDP=rename_to_df('World GDP: ',df_W_GDP)
#World CPI
import pandas as pd
df_W_CPI=df_nomial_GDP=pd.read_csv('Econ_data/World CPI.csv')
df_W_CPI=clean_quarter_df(df_W_CPI)
df_W_CPI=df_W_CPI.rename(columns={df_W_CPI.columns[0]:'World CPI 1'})
df_W_CPI=df_W_CPI.rename(columns={df_W_CPI.columns[1]:'World CPI 2'})

- Simplify data
- CPI, Gini, and GDP have two

In [5]:
#CPI: 2 columns only
df_CPI=df_CPI.loc[:,['US CPI: All items','US CPI: All Items (1967=100)']]
df_gini=df_gini.loc[:,['Gini: Gini Coefficient','Gini: White Alone']]
#df_gini:'Gini: Gini Coefficient', 'Gini: White Alone',
        #'Gini: White Alone, Not Hispanic',
       #'Gini: Black Alone or in Combination', 'Gini: Black Alone',
       #'Gini: Asian Alone or in Combination', 'Gini: Asian Alone',
       #'Gini: Hispanic (Any Race)
df_R_GDP=df_R_GDP.loc[:,['US Real GDP: Gross Domestic Product','US Real GDP: Personal Consumption Expenditures']]
df_N_GDP=df_N_GDP.loc[:,['US Nominal GDP: Gross Domestic Product','US Nominal GDP: Personal Consumption Expenditures']]
#df_W_GDP: 2 columns only
#df_W_CPI: 2 columns only
df_cGDP.index=df_cGDP.index.to_period("Q")
df_c_personal_exp.index=df_c_personal_exp.index.to_period("Y")
df_CPI.index=df_CPI.index.to_period("M")
df_gini.index=df_gini.index.to_period("Y")
df_R_GDP.index=df_R_GDP.index.to_period("Q")
df_N_GDP.index=df_N_GDP.index.to_period("Q")
df_W_GDP.index=df_W_GDP.index.to_period("Q")
df_W_CPI.index=df_W_CPI.index.to_period("Y")

- 5 Econ Index: 
    - Deflator
    - All-Transactions House Price Index
    - PPIACO
    - Real GDP
    - Unemployment Rate

In [6]:
import pandas as pd
df1=pd.read_csv('Econ_data/deflator.csv')
df2=pd.read_csv('Econ_data/All-Transactions House Price Index .csv')
df3=pd.read_csv('Econ_data/PPIACO.csv')
df4=pd.read_csv('Econ_data/Real GDP.csv')
df5=pd.read_csv('Econ_data/Unemployment Rate.csv')

df1['DATE']=pd.to_datetime(df1['DATE'])
df2['DATE']=pd.to_datetime(df2['DATE'])
df3['DATE']=pd.to_datetime(df3['DATE'])
df4['DATE']=pd.to_datetime(df4['DATE'])
df5['DATE']=pd.to_datetime(df5['DATE'])

df1=df1.set_index('DATE')
df1=df1.rename(columns={df1.columns[0]:'GDP_deflator'})
df2=df2.set_index('DATE')
df2=df2.rename(columns={df2.columns[0]:'House_Price_Index'})
df3=df3.set_index('DATE')
df3=df3.rename(columns={df3.columns[0]:'Producer_Price_Index'})
df4=df4.set_index('DATE')
df4=df4.rename(columns={df4.columns[0]:'US Real GDP 2'})
df5=df5.set_index('DATE')
df5=df5.rename(columns={df5.columns[0]:'Unemployment_Rate'})

df1.index=df1.index.to_period("Q")
df2.index=df2.index.to_period("Q")
df3.index=df3.index.to_period("M")
df4.index=df4.index.to_period("Q")
df5.index=df5.index.to_period("M")

### 2. Merge to Month/Quarter/Year 3 sheets
-  choose the econ data that cover all my movies release date (1948-present)

- table name: `9 Econ datasets`

datasets | use?
-|-
df_cGDP| no
df_c_personal_exp| 
df_CPI| no
df_gini|  no
df_R_GDP| 
df_N_GDP| 
df_W_GDP| no
df_W_CPI| no


- table name: `5 Econ datasets`

datasets | use?
-|-
df1| 
df2| no
df3| 
df4|  
df5|

In [7]:
M_Index_df = pd.concat([df3,df5,df_CPI], axis=1, sort=True, join='outer')   #df_CPI
Q_Index_df = pd.concat([df1,df4,df_R_GDP,df_N_GDP,df2], axis=1, sort=True, join='outer')  #df_cGDP,,df_W_GDP,df2
Y_Index_df = pd.concat([df_c_personal_exp,df_gini,df_W_CPI], axis=1, sort=True, join='outer')         #df_gini,df_W_CPI

M_Index_df=M_Index_df.reset_index('DATE')
Q_Index_df=Q_Index_df.reset_index('DATE')
Y_Index_df=Y_Index_df.reset_index('DATE')

#### - Econ data group 1

In [8]:
M_Index_df.tail()

,DATE,Producer_Price_Index,Unemployment_Rate,US CPI: All items,US CPI: All Items (1967=100)
1277,2019-06,200.3,3.3,1.6,1.6
1278,2019-07,201.0,3.4,1.8,1.8
1279,2019-08,199.3,3.4,1.7,1.7
1280,2019-09,198.2,3.2,1.7,1.7
1281,2019-10,198.5,3.2,1.8,1.8

#### - Econ data group 2

In [9]:
Q_Index_df[180:185]

,DATE,GDP_deflator,US Real GDP 2,US Real GDP: Gross Domestic Product,US Real GDP: Personal Consumption Expenditures,US Nominal GDP: Gross Domestic Product,US Nominal GDP: Personal Consumption Expenditures,House_Price_Index
180,1975Q1,29.129,-4.8,-2.3,0.2,4.2,11.3,59.84
181,1975Q2,29.562,2.9,-1.8,1.4,9.1,12,61.10
182,1975Q3,30.084,7.0,0.8,2.4,14.8,13.9,61.29
183,1975Q4,30.587,5.5,2.6,5.1,12.7,11.6,62.32
184,1976Q1,30.911,9.3,6.2,6.3,14,13.1,62.87

#### - Econ data group 3

In [10]:
Y_Index_df[55:60]

,DATE,China Personal Expense: All Households,China Personal Expense: Rural Households,China Personal Expense: Urban Households,Gini: Gini Coefficient,Gini: White Alone,World CPI 2,World CPI 2
55,1985,440.27,345.97,749.61,0.419,0.411,13.861,16.668
56,1986,497,378,872,0.425,0.415,11.829,9.788
57,1987,565,421,998,0.426,0.415,14.632,18.477
58,1988,714,509,1311,0.426,0.416,19.736,23.283
59,1989,788,549,1466,0.431,0.422,23.222,24.726

###  3. Import movies.csv

In [11]:
from datetime import datetime as dt
df=pd.read_csv('movies.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7740 entries, 0 to 7739
Data columns (total 17 columns):
Unnamed: 0                    7740 non-null int64
title                         7740 non-null object
imdb id                       7740 non-null object
runtime                       7740 non-null int64
genre                         7740 non-null object
rate                          7740 non-null float64
rating count                  7740 non-null float64
country                       7740 non-null object
language                      7740 non-null object
release date                  7740 non-null object
budget                        7740 non-null float64
gross usa                     7740 non-null float64
cumulative worldwide gross    7740 non-null float64
director                      7740 non-null object
writer                        7740 non-null object
cast                          7740 non-null object
production company            7740 non-null object
dtypes: float64(5), int64(2), object(10)
memory usage: 1.0+ MB

#### 3.1 Breakdown Releasedate into M/Q/Y  and Merge!

In [12]:
df['release date']=pd.to_datetime(df['release date'])
df['release month']=df['release date'].dt.to_period("M")
df['release quarter']=df['release date'].dt.to_period("Q")
df['release year']=df['release date'].dt.to_period("Y")

df=df.merge(M_Index_df, left_on='release month', right_on='DATE')
df=df.merge(Q_Index_df, left_on='release quarter', right_on='DATE')
df=df.merge(Y_Index_df, left_on='release year', right_on='DATE')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7732 entries, 0 to 7731
Data columns (total 41 columns):
Unnamed: 0                                           7732 non-null int64
title                                                7732 non-null object
imdb id                                              7732 non-null object
runtime                                              7732 non-null int64
genre                                                7732 non-null object
rate                                                 7732 non-null float64
rating count                                         7732 non-null float64
country                                              7732 non-null object
language                                             7732 non-null object
release date                                         7732 non-null datetime64[ns]
budget                                               7732 non-null float64
gross usa                                            7732 non-null float64
cumulative worldwide gross                           7732 non-null float64
director                                             7732 non-null object
writer                                               7732 non-null object
cast                                                 7732 non-null object
production company                                   7732 non-null object
release month                                        7732 non-null period[M]
release quarter                                      7732 non-null period[Q-DEC]
release year                                         7732 non-null period[A-DEC]
DATE_x                                               7732 non-null period[M]
Producer_Price_Index                                 7732 non-null float64
Unemployment_Rate                                    7729 non-null float64
US CPI: All items                                    7616 non-null object
US CPI: All Items (1967=100)                         7616 non-null object
DATE_y                                               7732 non-null period[Q-DEC]
GDP_deflator                                         7723 non-null float64
US Real GDP 2                                        7723 non-null float64
US Real GDP: Gross Domestic Product                  7732 non-null object
US Real GDP: Personal Consumption Expenditures       7732 non-null object
US Nominal GDP: Gross Domestic Product               7732 non-null object
US Nominal GDP: Personal Consumption Expenditures    7732 non-null object
House_Price_Index                                    7513 non-null float64
DATE                                                 7732 non-null period[A-DEC]
China Personal Expense: All Households               7368 non-null object
China Personal Expense: Rural Households             7368 non-null object
China Personal Expense: Urban Households             7368 non-null object
Gini: Gini Coefficient                               7589 non-null object
Gini: White Alone                                    7589 non-null object
World CPI 2                                          7628 non-null object
World CPI 2                                          7628 non-null object
dtypes: datetime64[ns](1), float64(10), int64(2), object(22), period[A-DEC](2), period[M](2), period[Q-DEC](2)
memory usage: 2.5+ MB

### 4. Merged data result with internal and external factors
 - save as `final.csv`

In [14]:
df.to_csv('final.csv')